# This file contains the dependencies to be installed if in developer mode.

pytest
pytest-qt>=4.0.0
pytest-cov<=3.0.0
pytest-xvfb
ipython
sphinx>=5.0  # sphinxcontrib.applehelp extension needs at least Sphinx v5.0
# furo
sphinx-book-theme
sphinx-copybutton
sphinx-tabs
nbformat==5.1.3
myst-nb
myst-parser
linkify-it-py
sphinx-autobuild
black==21.6b0
pre-commit
twine==3.3.0
PyGithub
jedi==0.17.2
click==8.0.4