pytest
pytest-qt>=4.0.0
pytest-cov
pytest-xvfb
ipython
sphinx
# furo
sphinx-book-theme
sphinx-copybutton
nbformat==5.1.3
myst-nb==0.13.2
myst-parser==0.15.2
linkify-it-py
sphinx-autobuild
black==21.6b0
pre-commit
twine==3.3.0
PyGithub
jupyterlab
jedi==0.17.2
ipykernel
click==8.0.4