pytest
pytest-qt
pytest-cov
pytest-xvfb
ipython
sphinx
# furo
sphinx-book-theme
sphinx-copybutton
myst-parser
linkify-it-py
myst-nb
sphinx-autobuild
black==21.6b0
pre-commit
twine==3.3.0
PyGithub
jupyterlab
jedi==0.17.2
ipykernel