# This file contains the full list of dependencies to be installed when only using pypi.
# This file should look very similar to the environment.yml file. Based on the logic in 
# setup.py, the packages in requirements.txt will also be installed when running 
# pip install sleap[pypi].

# These are also distributed through conda and not pip installed when using conda.
attrs>=23.1.0  # required by cattrs >=23.2.0
cattrs>=23.2.0
imageio
imageio-ffmpeg
jsmin
jsonpickle<=1.5.0  # 1.5.1 breaks compatibility with v1 encoded files
networkx
numpy>=1.16.5,<2.0  # Scipy 1.7.0 requires numpy >=1.16.5
opencv-python
pandas
pillow
psutil
pykalman
PySide6
python-rapidjson
pyyaml
pyzmq
qtpy>=2.0.1
rich
imageio
scipy>=1.7.0
scikit-image
scikit-learn>=1.0.0
seaborn
tensorflow==2.9.2; platform_machine != 'arm64'
tensorflow-hub
albumentations>=1.4.15 # Handle Nan keypoints
ndx-pose<0.2.0
# Silicon Mac specific packages
tensorflow-macos >=2.10.0,<2.13.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-metal; sys_platform == 'darwin' and platform_machine == 'arm64'

# Dependencies of dependencies
# tensorboard 2.11.2 has requirement protobuf<4,>=3.9.2
# tensorflow 2.11.0 has requirement protobuf<3.20,>=3.9.2
protobuf; platform_machine != 'arm64'
protobuf>3.20; sys_platform == 'darwin' and platform_machine == 'arm64'