# This file contains the full list of dependencies to be installed when only using pypi.
# This file should look very similar to the environment.yml file. Based on the logic in 
# setup.py, the packages in requirements.txt will also be installed when running 
# pip install sleap[pypi].

# These are also distributed through conda and not pip installed when using conda.
attrs>=21.2.0,<=21.4.0
cattrs==1.1.1
# certifi>=2017.4.17,<=2021.10.8
jsmin
jsonpickle==1.2
networkx
numpy>=1.19.5,<1.23.0
opencv-python>=4.2.0,<=4.7.0
pandas
pillow>=8.3.1,<=8.4.0
psutil
pykalman==0.9.5
PySide2>=5.13.2,<=5.14.1; platform_machine != 'arm64'
PySide6; sys_platform == 'darwin' and platform_machine == 'arm64'
# Otherwise error: Microsoft Visual C++ 14.0 is required. 
python-rapidjson <=1.10; sys_platform == 'win32'
python-rapidjson; sys_platform != 'win32'
pyyaml
pyzmq
qtpy>=2.0.1
rich==10.16.1
imgaug==0.4.0
scipy>=1.4.1,<=1.9.0
scikit-image
scikit-learn ==1.0.*
scikit-video
seaborn
tensorflow>=2.6.3,<2.9; platform_machine != 'arm64'
tensorflow-hub<=0.14.0
# These dependencies are untested since we do not offer a wheel for apple silicon atm.
tensorflow-macos==2.9.2; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-metal==0.5.0; sys_platform == 'darwin' and platform_machine == 'arm64'
albumentations # added 03212024

# Dependencies of dependencies
# google-auth 2.23.0 has requirement urllib3<2.0
urllib3<2.0  # Not a 'noticed' runtime-dependency
# tensorboard 2.11.2 has requirement protobuf<4,>=3.9.2
# tensorflow 2.11.0 has requirement protobuf<3.20,>=3.9.2
protobuf<3.20  # Makes GUI work in windows